body{
    background-color: #e5e5e5;
    padding: 0px 60px;
}
/*--Barra de navegacion--*/
.nav {
    background-color: black;
    opacity: 0.8;
    height: 40px;
}
.barra_menu{
    display: flex;

}
a {
    text-decoration: none;
    color: white;
}
.barra_menu {
    list-style: none;
    color: white;
}
.logo_empresa{
    width: 1000px;
    height: auto;
    display: flex;
    align-items: center;
}
#image_1{
    margin-left: 49%;
    width: 400px;
    height: auto;
}
.barra_menu #menu_titulo{
    margin: 0px;
    padding: 0px;
}
.barra_menu li{
    margin: 0px 0px 0px 20px;
}
#boton{
    position: absolute;
    right: 60px;
    top: 201px;
}
/*--Cuerpo index--*/
.contenedor_index{
    display: flex;
}
.contenedor_index #image_2{
    width: auto;
    height: 400px;
    margin-right: 20px;
}
/*--Cuerpo reportes--*/
.contenedor_report{
    margin: 0px 20%;
}
.contenedor_report #formulario{
    border: solid black 1px;
    padding: 30px;
    margin-bottom: 20px;
}
.contenedor_report .btn_for{
    border: solid black 1px;
    display: flex;
    justify-content: center;
}
#btn_reset{
    margin-right: 10px;
}
/*--Cuerpo Capturas--*/
#contenedor_capturas .image{
    width: 400px;
    height: auto;
}
/*Para modo oscuro*/
.body.dark{
    background-color: rgb(58, 55, 55);
    padding: 0px 60px;
    color: white;
}